/* header background color */
.zahid-bgcolor{
  background-color:#F8F8F8;
  color: #666;
  font-family: 'Arial', sans-serif;
}

.zahid-header{
  color: #666666;
  font-size: 23px;
  margin-right: 20px;
}

/* two image over options  */
.zahid-image-f{
  position: absolute;
  top: 0;
  left: 230px;
}
.zahid-image-se{
  position: relative;
  top: 80px;
  left: 0px;
}



.zahid-pragrap-t{
  color: #666666;
  font-size: 18px;
  margin-right: 20px;
  padding-left: 70px;

}

.zahid-img-p{
  color: #666666;
  font-size: 18px;
}
.zahid-images-pro{
  width: 100%;
  height: 100%;
}
.white-color{
  color: white;
  font-size: 25px;
  text-align: center;
}


.color-f0f0f0{
  background-color: #f0f0f0;
}
.icon-hover{
  padding: 8px;
}

.zahid-footer{
  background-color: black;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 35px;

}
.color-BAC0C5{
  color:#BAC0C5;
}

.zahid-header-2{
  font-size: 18px;
  margin-right: 20px;
}

#zahid-icon-h{
  color:#f5f3f0;
  padding:7px;
}
#zahid-icon-h:hover{
  color:black;
  background-color: #f0f0f0;
  border-radius: 7px;
}


/* develop mude */


.zah-button{
  background-color: #3156A3; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
}
.zah-button:hover{
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
   background-color: #ccc7f0;
   color: #bf545f;
}


/* develop  */
.ul-maintaines{
  list-style-type: none;
  margin: 0px;
  padding: 25px;

}
.ul-maintaines li{
  margin: 0px;
  padding: 12px;

}
.ul-maintaines li a{
  text-decoration: none;
  color: #000000;
  padding: 25px;
}
.ul-maintaines li a:hover{
  color: #0000ff;
}


/* footer option */
.footer-ul-z{
  list-style-type: none;
  margin: 0px;
  padding: 25px;
}

.footer-ul-z li{
  margin: 0px;
  padding: 15px 0px 5px 0px;
}

.third-div-p{
  padding: 18px 0px 0px 0px;

}
.third-div-p a{
  text-decoration:none;
  color: #fff;

}
